@require "../node_modules/normalize.css/normalize.css"
@require "../node_modules/codemirror/lib/codemirror.css"

@font-face
  font-family 'Fira Code'
  src url('../fonts/FiraCode-Light.eot')
  src url('../fonts/FiraCode-Light.eot') format('embedded-opentype'), url('../fonts/FiraCode-Light.woff2') format('woff2'), url('../fonts/FiraCode-Light.woff') format('woff'), url('../fonts/FiraCode-Light.ttf') format('truetype');
  font-weight normal
  font-style normal

$primary = #DFE1E8
$danger = #A90015
$bg1 = #16232A
$bg2 = #1A2B34
$bg3 = #465B66

$purple = #C792C7
$blue = #6297D0
$green = #97C990
$orange = #FD9148
$red = #F05D61

*
  box-sizing border-box

html, body
  margin 0
  padding 0
  height 100%

body
  background-color $bg1
  color $primary
  font-family Helvetica, sans-serif
  font-size 18px
  overflow hidden

ref(name)
  unquote("[") + name + unquote("]")

.wrapper
  display grid
  grid-template-columns ref(nav) 320px ref(article) 1fr
  grid-template-rows 1fr
  height 100%
  overflow hidden
  &.nav-off
    grid-template-columns ref(article) 1fr
    &.info-on
      grid-template-columns ref(article) 1fr ref(info) 320px
  &.info-on
    grid-template-columns ref(nav) 320px ref(article) 1fr ref(info) 320px

nav
  grid-row 1 / 1
  grid-column nav
  position relative
  background-color $bg2

article
  grid-row 1 / 1
  grid-column article
  position relative
  overflow hidden
  &.editor header
    position absolute
    top 0
    left 0
    z-index 2

@media (max-width: 960px)
  .wrapper
    grid-template-columns ref(nav) 320px ref(article) 1fr
    &.info-on
      grid-template-columns ref(nav) 320px ref(article) 1fr
      &.nav-off
        grid-template-columns ref(article) 1fr

@media (max-width: 640px)
  .wrapper
    grid-template-columns ref(nav) 1fr
    &.info-on
      grid-template-columns ref(nav) 1fr
      &.nav-off
        grid-template-columns ref(article) 1fr
    &.nav-off
      grid-template-columns ref(article) 1fr


.info
  display none
  background-color $bg2

.wrapper
  &.nav-off nav
    display none
  &.info-on .info
    display block

@media (max-width: 960px)
  .wrapper
    &.info-on
      .info
        display none

@media (max-width: 640px)
  .wrapper
    &.nav-off
      article
        position relative
        top auto
  article
    position absolute
    top 2000px

p
  margin 10px 15px

h1
  font-weight normal
  padding 7px 15px 3px 15px
  margin 0
  font-size 24px
  line-height 36px

header
  .icon
    float left
    margin 5px 10px 5px 5px

input[type=text]
  background-color $bg1
  color $primary
  border none
  border 1px solid $bg3
  border-radius 4px
  display block
  width 100%
  padding 10px 15px
  margin-bottom 15px
  &:focus
    border-color $primary
    outline none

label
  display block
  padding 10px 0
  text-transform uppercase

form
  margin 0 auto
  padding 0 15px
  max-width 450px

.btn
  display inline-block
  background $bg3
  color $bg1
  text-decoration none
  text-align center
  line-height 36px
  height 36px
  min-width 36px
  border none
  cursor pointer
  border-radius 3px
  padding 0 15px
  &.icon
    padding 0 8px

.page-actions
  position absolute
  z-index 2
  top 0
  right 0
  .btn
    margin 5px 5px 0 0

.select
  list-style none
  margin 0
  padding 0
  li
    & > div,
    & > a
      padding 10px 15px
      position relative
    a
      display block
      color $primary
      text-decoration none
      &.selected
          background-color $bg3
      &:hover
        background-color $bg1
    div.action
      padding 10px 15px
      position absolute
      right 0
      top 0
  li + li
    border-top 1px solid $bg3

img.secret
  width 100%

div.secret
  font-size 11px
  margin-bottom 15px
  word-wrap break-word

.CodeMirror
  background $bg1
  color $primary
  font-family 'Fira Code', monospace
  font-size 14px
  line-height 20px
  height 100%
  padding-top 46px
  .CodeMirror-selected
    background rgba(255, 255, 255, 0.1)
  .CodeMirror-gutters
    background $bg1
    border-color $bg2
  .CodeMirror-guttermarker
    color $red
  .CodeMirror-cursor
    border-left 1px solid $primary

  span.cm-comment
    color $bg3

  span.cm-atom,
  span.cm-number
    color $orange
  span.cm-property,
  span.cm-attribute
    color $blue
  span.cm-keyword,
  span.cm-link
    color $purple
  span.cm-string,
  span.cm-string-2
    color $green
  span.cm-def,
  span.cm-variable-2
    color $primary
  span.cm-tag,
  span.cm-variable,
  span.cm-bracket
    color $red
  span.cm-error
    color $danger

  .CodeMirror-activeline-background
    background $bg1
  .CodeMirror-matchingbracket
    text-decoration underline
    color white !important